node_modules
.idea
.env
.env.local

# hardhat
artifacts/
cache/

# slither
crytic-export/

# other
trace*.json
tenderly*.json

# ci cache
# proposal-states.json

# tmp is not ignored on purpose as it's quite useful to continue on latest action cache
# .tmp