name: Governance Checks

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: '0 * * * *'
  push:
    paths-ignore:
      - 'reports/**'
      - 'README.md'
    branches:
      - main
  workflow_dispatch:

jobs:
  generate-reports:
    name: Check all live proposals
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Pre installed in newest ubuntu
      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.10'

      - name: Install solc-select
        run: pip3 install solc-select

      - name: Install Slither
        run: pip3 install slither-analyzer

      - name: Build Matrix
        uses: ./.github/actions/generate-matrix
        id: generator
        env:
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          RPC_POLYGON: ${{ secrets.RPC_POLYGON }}
          RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
          RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
          DAO_NAME: 'Aave'
          GITHUB_SHA: ${{ github.sha }}

      - name: Run checks
        if: ${{steps.generator.outputs.matrix != ''}}
        run: yarn start
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          RPC_POLYGON: ${{ secrets.RPC_POLYGON }}
          RPC_OPTIMISM: ${{ secrets.RPC_OPTIMISM }}
          RPC_ARBITRUM: ${{ secrets.RPC_ARBITRUM }}
          TENDERLY_ACCESS_TOKEN: ${{ secrets.TENDERLY_ACCESS_TOKEN }}
          TENDERLY_PROJECT_SLUG: ${{ secrets.TENDERLY_PROJECT_SLUG }}
          TENDERLY_ACCOUNT: ${{ secrets.TENDERLY_ACCOUNT }}
          IPFS_GATEWAY: ${{secrets.IPFS_GATEWAY}}
          DAO_NAME: 'Aave'
          PROPOSAL_FILTER: ${{ steps.generator.outputs.matrix }}

      - name: Update readme
        if: ${{steps.generator.outputs.matrix != ''}}
        run: yarn ci:readme

      - name: check diff
        run: |
          if [[ -z $(git status -s) ]]
          then
            echo "tree is clean"
          else
            git config --global user.name 'Cache bot'
            git config --global user.email 'cache-bot@bgdlabs.com'
            git config --global pull.rebase true
            git add .
            git commit -am "fix(cache): ${{ steps.generator.outputs.matrix }} :robot:"
            git pull --rebase --autostash
            git push
          exit
          fi
